.steps {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
}

@media (min-width: 300px) and (max-width: 400px) {
    .steps {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 2rem;
        font-size: 10px;
    }

    .steps::after {
        content: "";
        width: 100%;
        border-bottom: 1px solid #ccc;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        z-index: 0;
    }
}

.steps::after {
    content: "";
    width: 100%;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

.step {
    text-align: center;
    background-color: #FFF;
    z-index: 1;
    width: 120px;
    padding: 0.5rem;
}

.step svg {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

.active {
    font-weight: bold;
}

.active > svg {
    fill: #7076F4;
}